extends layout 

block content 
	h1= brand.name 

	div 
		a(href=`${brand.url}/edit`) Update
		a(href=`${brand.url}/delete`) Delete

	h2 Instrument models

	table
		thead 
			tr 
				th Model
				th Instrument
				th Price ($)
				th Quantity
		tbody 
			each model in brandModels 
				tr 
					td: a(href=model.url)= model.name 
					td: a(href=model.instrument.url)= model.instrument.name
					td= model.price
					td= model.quantity
			else 
				p No instrument models available.