extends layout 

block content 
  h1= `Delete ${brand.name}`

  if brandModels.length 
    p #[strong WARNING! The following #{brandModels.length} models will also be deleted:]

    h4 Models 

    ol
      each model in brandModels 
        li
          a(href=model.url) #{model.name}
          |  - #{model.instrument.name} - #{model.price_formatted}
  
  hr
  
  p #[strong Are you sure you want to delete this brand?]
  form(method='POST' action='')
      div.form-group
        input#brand-id.form-control(
          type='hidden'
          name='brand_id'
          required
          value=brand._id
        )

      button.btn.btn-primary(type='submit') Delete #{brand.name}

