extends layout 

block content 
	h1= instrument.name

	div 
		a(href=`${instrument.url}/edit`) Update
		a(href=`${instrument.url}/delete`) Delete

	p #[strong Category:] #{instrument.category}

	h2 Models
	table 
		thead 
			tr 
				th Model 
				th Brand 
				th Price ($)
				th Quantity
		tbody
			each model in instrumentModels 
				tr 
					td: a(href=model.url)= model.name
					td: a(href=model.brand.url)= model.brand.name 
					td= model.price
					td= model.quantity
