extends layout 

block content
  h1= title
  
  form(method="POST" action="")
    label(for="name") Name:
      input(
        type="text"
        id="name"
        name="name"
        required
        value=instrument ? instrument.name : ''
      )
    
    label(for="categories") Category: 
      select(
        type="select"
        name="category"
        id="categories"
        required
      )
        option(value disabled selected hidden) Select category
        each category in categories
          option(
            value=category
            selected=(instrument && instrument.category === category ? 'selected' : false)
          )= category 

    button(type="submit") Create

  if errors 
    ul: for error in errors
      li!= error.msg
  
