extends layout 

block content 
	h1= model.name
	div 
		a(href=`${model.url}/edit`) Update
		a(href=`${model.url}/delete`) Delete
	hr

	p #[strong Instrument:] #{model.instrument.name}
	p #[strong Brand:] #{model.brand.name}
	p #[strong Price:] #{model.price_formatted}
	p #[strong Quantity:] #{model.quantity}

	hr
	p= model.description
	p #[strong Specifications]
	table 
		each val, key in model.specs_obj 
			tr
				th= key.split('_').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ')
				td= val